<h4>Megha</h4>
<p>
  Email: email@email.com
</p>
<p>
  Phone: xxx-xxx-xxxx
</p>

<h4>Utkarsh</h4>
<p>
  Email: email@email.com
</p>
<p>
  Phone: xxx-xxx-xxxx
</p>

<h4>Baby registry </h4>
<p>
 <a href="http://www.toysrus.com/registry/link/index.jsp?overrideStore=TRUS&registryNumber=58488582" target="_blank">
  Babies R Us </a>
</p>

<p>
  <a href="https://www.buybuybaby.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Baby&inventoryCallEnabled=true&registryId=543779078&pwsurl=" target="_blank">
    Buy Buy Baby </a>
</p>

