<div ng-hide="loginAlertMessage" ng-class="'alert-success'" class="welcome" >Welcome {{currentUser}}!!!</div>

<div class="jumbotron">
  <div>
  <p><a class="btn btn-lg btn-success" ng-click="gotoVote()">Let's Vote!!!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
</div>

<div align="center" style="margin-bottom: 20px; ">
  <h1>  <span class="glyphicon glyphicon-baby-formula"></span> We are having a baby!!! <span class="glyphicon glyphicon-baby-formula"></span></h1>
</div>

<div class="row marketing">
  <h3> Thank you for visiting our site. </h3>
  <p class="lead">
    We decided to keep things old fashioned, which means we are not going to find out the gender of the baby and will wait until he/she is born.
    </p>

  <p>
    As we are divided on what the gender of the baby is going to be, we decided to have an open forum for everyone to vote.
    Please use the link below to vote and let us know what you think we are having,
    suggest some boy/girl baby names and leave some comments.
  </p>

  <p class="lead">
    The person who is closest in the votes will receive a <span class="glyphicon glyphicon-gift"/> gift from us :)
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="gotoVote()">Let's Vote!!!<span class="glyphicon glyphicon-ok"></span></a></p>


  <h4>Megha</h4>
  <p>
    Well it is a boy... I have a hunch!!
  </p>

  <h4>Utkarsh</h4>
  <p>
    Well it is a girl... because I am attracted to bright color and have cravings!!!
  </p>

</div>
