<div style="background-color: #e8e8e8;height: 100px;vertical-align: middle;padding: 10px 10px 10px 20px;">
  <h3><img ng-src="{{vote.user.facebook.picture.data.url}}" class="img-circle"> {{ vote.user.displayName }}</h3>
</div>
<div style="padding: 10px;padding-left: 25px">
  <span> <label> Gender</label> {{ vote.gender}}</span>
  <p> Day: {{ vote.day}}</p>
  <p> Month: {{ vote.month}}</p>
  <p> Suggestion for Name:
  <ul ng-repeat="name in vote.babyName">
    <li>{{name.name}} - {{name.gender}}</li>
  </ul>
  </p>
  <p> Comment: {{vote.comment}}</p>
  <p> Voting Date: {{ vote.created | date : 'medium'}}</p>
</div>
