<table class="table table-striped" ng-show="isAuthenticated">
  <thead>
  <th>User</th>
  <th>Gender</th>
  <th>Month</th>
  <th>Day</th>
  <th>Created</th>
  <th>Operations</th>
  </thead>
  <tbody>
  <tr ng-repeat="vote in votes" style="height: 67px;">
    <td><img ng-src="{{vote.user.facebook.picture.data.url}}" class="img-circle"> {{ vote.user.displayName }} </td>
    <td style="vertical-align: middle;">{{ vote.gender }}</td>
    <td style="vertical-align: middle;">{{ vote.month }}</td>
    <td style="vertical-align: middle;">{{ vote.day }}</td>
    <td style="vertical-align: middle;">{{ vote.created | date:'medium'}}</td>
    <td style="vertical-align: middle;">
    <td style="vertical-align: middle;">
      <div class="button-group">
        <a ng-href="/#/vote/{{ vote._id }}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a ng-href="/#/vote/{{ vote._id }}/delete" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
